@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-hover-underline {
    position: relative;
  }

  .custom-hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 4px;
    background-color: currentColor;
    transition: width 0.3s ease;
    border-radius: 1rem;
  }

  .custom-hover-underline:hover::after {
    width: 100%;
  }
}

/* Global CSS to hide the scrollbar */
html,
body {
  overflow-y: scroll; /* Ensures space for the scrollbar */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
